<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA7nQ31Ulk-OUmjACMGD98vNDkS7RYVg0</string>
	<key>GCM_SENDER_ID</key>
	<string>629780111640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yasemintok.KisilerUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>egitim-1d7df</string>
	<key>STORAGE_BUCKET</key>
	<string>egitim-1d7df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629780111640:ios:af77ce2861b150c1bcbe6d</string>
</dict>
</plist>